In [5]:
import sys
from pathlib import Path

# Get project root (one level up from notebooks/)
project_root = Path().resolve().parent
sys.path.append(str(project_root))

import pandas as pd
from src.utils import DATA_DIR, RESULTS_DIR

print("Project root:", project_root)
print("Data dir:", DATA_DIR)
print("Results dir:", RESULTS_DIR)

Project root: C:\Users\jeral\OneDrive\Desktop\RAG CB\rag-chatbot
Data dir: C:\Users\jeral\OneDrive\Desktop\RAG CB\rag-chatbot\data\msmarco
Results dir: C:\Users\jeral\OneDrive\Desktop\RAG CB\rag-chatbot\results

In [6]:

file_path = DATA_DIR / "documents.csv"   # or "documents.tsv"

if file_path.suffix == ".csv":
    df = pd.read_csv(file_path)
elif file_path.suffix == ".tsv":
    df = pd.read_csv(file_path, sep="\t")
else:
    raise ValueError("Unsupported file format. Please use CSV or TSV.")

print("Data loaded! Shape:", df.shape)
df.head()

Data loaded! Shape: (2651306, 2)

   id                                               text
0   0  The presence of communication amid scientific ...
1   1  The Manhattan Project and its atomic bomb help...
2   2  Essay on The Manhattan Project - The Manhattan...
3   3  The Manhattan Project was the name for a proje...
4   4  versions of each volume as well as complementa...

In [7]:
# Drop duplicates and missing values
df = df.drop_duplicates().dropna()

# Ensure text column exists
if "text" not in df.columns:
    raise KeyError("Expected a 'text' column in dataset!")

df = df.reset_index(drop=True)
print("Cleaned dataset shape:", df.shape)
df.head()

Cleaned dataset shape: (2651306, 2)

   id                                               text
0   0  The presence of communication amid scientific ...
1   1  The Manhattan Project and its atomic bomb help...
2   2  Essay on The Manhattan Project - The Manhattan...
3   3  The Manhattan Project was the name for a proje...
4   4  versions of each volume as well as complementa...

In [8]:
# Save cleaned data into results/ folder for retriever training
output_file = RESULTS_DIR / "cleaned_data.csv"
df.to_csv(output_file, index=False)

print(f"Preprocessed data saved to {output_file}")

Preprocessed data saved to C:\Users\jeral\OneDrive\Desktop\RAG CB\rag-chatbot\results\cleaned_data.csv

In [9]:
print("Number of documents:", len(df))
print("Average document length:", df['text'].str.len().mean())

df.sample(5)

Number of documents: 2651306
Average document length: 334.7458863669452

              id                                               text
2576453  2576453  Sonic soot blower. Sonic soot blowers offer a ...
1558043  1558043  The just resolution of a lost pet dispute requ...
2403919  2403919  the shaft tail finch is a beautiful finch spec...
785110    785110  State Parks around here are great but most of ...
1628525  1628525  Starting in 2014, the Affordable Care Act (aka...